node_modules
.env
.encryptedKey.json

# IDE
.vscode/

# Hardhat files
/cache
/artifacts
deployments/*
!deployments/.gitkeep
gas-report.txt

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

node_modules
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json
